@import "../../styles/colors.scss";

.loginWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: column;
    border-top: 40px solid $primaryDark;
    background-color: $primary;
    align-items: center;

    img {
      margin-top: 40px;
    }

    h1 {
      color: $white;
      margin: 16px 0px 40px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    input {
      border: 1px solid $primaryDark;
      line-height: 40px;
      border-radius: 4px;

      &:focus {
        outline-color: $primaryLight;
      }
    }

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    button {
      margin-top: 32px;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer {
    height: 48px;
    background-color: $primary;
  }
}